<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <title>Navigation bar</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <script src="https://kit.fontawesome.com/e32b870ab9.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
        <ul sec:authorize="hasAuthority('ADMIN')">
            <li><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/user/list}">Felhasználók</a></li>
            <li><a th:href="@{/offer/list}">Ajánlatok</a></li>
            <li><a th:href="@{/advertisement/list}">Hirdetések</a></li>
            <li><a th:href="@{/hotel/list}">Hotelek</a></li>
            <li><a th:href="@{/reservation/list}">Foglalások</a></li>
            <li><a th:href="@{/user/{id}(id=${#authentication.principal.id})}">Profil</a></li>
            <li>
              <div class="dropdown">
                <a href="#">Műveletek<i class="fa-solid fa-bars" style="margin-left:8px;"></i></a>
                  <div class="dropdown-content">
                    <a th:href="@{/add/user}">Új felhasználó</a>
                    <a th:href="@{/advertisement/add}">Hirdetés hozzáadás</a>
                    <a th:href="@{/offer/add}">Ajánlat készítés</a>
                    <a th:href="@{/hotel/registration}">Hotel regisztráció</a>
                  </div>
              </div>
            </li>
            <li>
              <form sec:authorize="isAuthenticated()" id="formLogout" th:action="@{/logout}" method="post" class="form-inline">
               <a href="#" onclick="logout()">Kijelentkezés</a>
              </form>
            </li>
        </ul>
        <ul sec:authorize="hasAuthority('INTERNAL')">
            <li><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/reservation/list}">Foglalások</a></li>
            <li>
              <div class="dropdown">
                <a href="#">Műveletek<i class="fa-solid fa-bars" style="margin-left:8px;"></i></a>
                  <div class="dropdown-content">
                    <a th:href="@{/advertisement/add}">Hirdetés hozzáadás</a>
                    <a th:href="@{/offer/add}">Ajánlat készítés</a>
                    <a th:href="@{/hotel/registration}">Hotel regisztráció</a>
                  </div>
              </div>
            </li>
            <li><a th:href="@{/user/account}">Profil</a></li>
            <li>
              <form sec:authorize="isAuthenticated()" id="formLogout" th:action="@{/logout}" method="post" class="form-inline">
               <a href="#" onclick="document.getElementById('formLogout').submit(); return false;">Kijelentkezés</a>
              </form>
            </li>
        </ul>
        <ul sec:authorize="hasAuthority('USER')">
            <li><a th:href="@{/}">Főoldal</a></li>
            <li><a th:href="@{/advertisement/}">Hirdetések</a></li>
            <li><a th:href="@{/advertisement/}">Foglalásaim</a></li>
            <li><a th:href="@{/advertisement/}">Profil</a></li>
            <li>
              <form sec:authorize="isAuthenticated()" id="formLogout" th:action="@{/logout}" method="post" class="form-inline">
               <a href="#" onclick="logout()">Kijelentkezés</a>
              </form>
            </li>
        </ul>
    </nav>
    <script type="text/javascript" th:src="@{/js/logout.js}"></script>
  </body>
</html>