.container {
  width: 300px;
  padding: 16px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

h2 {
  text-align: center;
}

input[type=text], input[type=password],
input[type=date], input[type=datetime-local], select, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .container {
    width: 100%;
  }
}