<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - Új felhasználó</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="container">
      <h2>Új alkalmazott hozzáadása</h2>
      <form th:action="@{/add/user}" method="post">

        <label for="firstName">Keresztnév</label>
        <input type="text" id="firstName" name="firstName" placeholder="Enter your first name">

        <label for="lastName">Vezetéknév</label>
        <input type="text" id="lastName" name="lastName" placeholder="Enter your last name">

        <label for="birthDate">Születési dátum</label>
        <input type="date" id="birthDate" name="birthDate" placeholder="Enter your birthday">

        <label for="address">Cím</label>
        <input type="text" id="address" name="address" placeholder="Enter your address">
  
        <label for="phoneNumber">Telefonszám</label>
        <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter your phone number">

        <label for="role">Szerepkör</label>
        <select id="role" name="role">
          <option value="ADMIN">ADMIN</option>
          <option value="INTERNAL">INTERNAL</option>
          <option value="USER">USER</option>
        </select>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" placeholder="Enter your email">
  
        <label for="password">Jelszó</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
  
        <div class="clearfix">
          <button type="submit">Alkalmazott hozzáadása</button>
        </div>
      </form>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>