<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - hirdetések</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tableview.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content" th:if="${not #lists.isEmpty(advertisementList)}">
        <table>
          <caption>Jelenleg aktív hirdetések listája</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Ország</th>
              <th>Város</th>
              <th>Leírás</th>
              <th>Műveletek</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="advertisement : ${advertisementList}">
              <td th:text="${advertisement.id}"></td>
              <td th:text="${advertisement.city}"></td>
              <td th:text="${advertisement.country}"></td>
              <td th:text="${advertisement.description}"></td>
              <td>
                <a th:href="@{/advertisement/{id}(id=${advertisement.id})}" class="btn btn-show">Megnéz</a>
                <a class="btn btn-edit">Szerkeszt</a>
                <a class="btn btn-delete">Töröl</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>

