<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - hirdetések</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content" th:if="${not #lists.isEmpty(hotelList)}">
        <ul th:each="user : ${userList}">
            <li>
                <span th:text="${user.firstName}"></span>
                <span th:text="${user.lastName}"></span>
                <span th:text="${user.email}"></span>
                <span th:text="${user.birthDate}"></span>
                <span th:text="${user.phoneNumber}"></span>
            </li>
        </ul>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>

