<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - Hotel információk</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/editview.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content">
        <div class="edit-view">
          <label for="name">A hotel neve</label>
          <span id="name" th:text="${hotel.name}"></span>
          <label for="address">Cím</label>
          <span id="address" th:text="${hotel.address}"></span>
          <label for="imageUrl">Kép</label>
          <span id="imageUrl" th:text="${hotel.imageUrl}"></span>
          <button id="editButton" onclick="editItem()">Szerkesztés</button>
          <form id="saveEdit" th:action="@{/hotel/update}" method="post">
           <a href="#" class="save-btn" onclick="updateItem()">Jóváhagy</a>
          </form>
        </div>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
    <!-- scripts -->
    <script type="text/javascript" th:src="@{/js/editView.js}"></script>
  </body>
</html>

