<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - hotelek</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tableview.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content" th:if="${not #lists.isEmpty(hotelList)}">
        <table>
          <caption>Regisztrált hotelek listája</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Hotel</th>
              <th>Cím</th>
              <th>Műveletek</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="hotel : ${hotelList}">
              <td th:text="${hotel.id}"></td>
              <td th:text="${hotel.name}"></td>
              <td th:text="${hotel.address}"></td>
              <td>
                <a th:href="@{/hotel/{id}(id=${hotel.id})}" class="btn btn-edit">Szerkeszt</a>
                <a th:href="@{/hotel/delete/{id}(id=${hotel.id})}" class="btn btn-delete">Töröl</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>
