<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel Bejelentkezés</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/alerts.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="container">
      <h2>Bejelentkezés</h2>
      <div class="alert alert-danger" th:if="${param.error}">
        <span>Hibás felhasználónév vagy jelszó!</span>
      </div>
      <div class="alert alert-success" th:if="${param.logout}">
        <span>Sikeresen kijelentkeztél!</span>
      </div>
      <form th:action="@{/login}" method="post">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" 
        placeholder="example@email.com" required maxlength="60">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
        placeholder="Adja meg jelszavát" required maxlength="80">

        <div class="clearfix">
          <button type="submit">Bejelentkezés</button>
        </div>
      </form>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>