<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel főoldal</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tableview.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content" th:if="${not #lists.isEmpty(userList)}">
        <table>
          <caption>Regisztrált felhasználók listája</caption>
          <thead>
            <tr>
              <th>ID</th>
              <th>Vezetéknév</th>
              <th>Keresztnév</th>
              <th>Email</th>
              <th>Cím</th>
              <th>Telefon</th>
              <th>Műveletek</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${userList}">
              <td th:text="${user.id}"></td>
              <td th:text="${user.lastName}"></td>
              <td th:text="${user.firstName}"></td>
              <td th:text="${user.email}"></td>
              <td th:text="${user.address}"></td>
              <td th:text="${user.phoneNumber}"></td>
              <td>
                <a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-edit">Szerkeszt</button>
                <a th:href="@{/user/delete/(id=${user.id})}" class="btn btn-delete">Töröl</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>