<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel - Felhasználó információk</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/userinfo.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/button.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content">
        <!-- User information HTML -->
        <div class="user-info">
          <label for="lastName">Vezetéknév:</label>
          <span id="lastName" sec:authentication="principal.lastName">John Doe</span>
          <label for="firstName">Vezetéknév:</label>
          <span id="firstName" sec:authentication="principal.firstName">John Doe</span>
          <label for="address">Cím:</label>
          <span id="address" sec:authentication="principal.address">123-456-7890</span>
          <label for="phoneNumber">Telefonszám:</label>
          <span id="phoneNumber" sec:authentication="principal.phoneNumber">123-456-7890</span>
          <label for="email">Email:</label>
          <span id="email" sec:authentication="principal.email">johndoe@example.com</span>
          <button id="editButton" onclick="editUser()">Szerkesztés</button>
          <form id="saveEdit" th:action="@{/user/update}" method="post">
           <a href="#" class="save-btn" onclick="updateUser()">Mentés</a>
          </form>
        </div>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
    <!-- scripts -->
    <script type="text/javascript" th:src="@{/js/userInfo.js}"></script>
  </body>
</html>
