<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eurotravel főoldal</title>
    <meta name="description" content="Utazás európában">
    <meta name="keywords" content="nyaralás, külföld, utazás">
    <meta name="author" content="hdavid03">
    <link rel="stylesheet" type="text/css" th:href="@{/css/body.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/content.css}">
  </head>
  <body>
    <div th:insert="~{fragments/navbar.html}"></div>
    <div class="content">
      <p>Üdv</p> <span sec:authentication="name">Anonymous </span>
      <div>
        <b>User Roles: </b>
        <div sec:authentication="principal.authorities"></div>
      </div>
      <div>
        <b>Role checking:</b>
        <div sec:authorize="isAuthenticated()">1. User is authenticated.</div>
        <div th:if="${#strings.contains(#authentication.principal.authorities, 'ADMIN')}">
          <span>2. User has authority ADMIN.</span>
        </div>
        <div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
          <span>3. User has authority ADMIN.</span>
        </div>
        <div th:if="${#authorization.expression('hasRole(''USER'')')}">
          <span>4. User has role USER.</span>
        </div>
        <div sec:authorize="hasAuthority('USER')">5. User has authority USER.</div>
        <div sec:authorize="hasAuthority('INTERNAL')">6. User has authority INTERNAL.</div>
        <div sec:authorize="hasAuthority('ADMIN')">7. User has authority ADMIN.</div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">8. User has authority ADMIN.</div>
      </div>
    </div>
    <div th:insert="~{fragments/footer.html}"></div>
  </body>
</html>
